.navbar {
    background-color: #009acd; 
    padding: 15px 30px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    position: sticky;
    top: 0;
    z-index: 100;
    margin-bottom:40px;
  }
  
  .navbar a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
  }
  
  .navbar a:hover {
    text-decoration: underline;
  }
  